doctor/.DS_Store
doctor/node_modules
doctor/dist


# Miscellaneous
*.class
*.log
*.pyc
*.swp
Dot-Slash-Hackathon/.DS_Store
Dot-Slash-Hackathon/.atom/
Dot-Slash-Hackathon/.buildlog/
Dot-Slash-Hackathon/.history
Dot-Slash-Hackathon/.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
Dot-Slash-Hackathon/.dart_tool/
Dot-Slash-Hackathon/.flutter-plugins
Dot-Slash-Hackathon/.flutter-plugins-dependencies
Dot-Slash-Hackathon/.packages
Dot-Slash-Hackathon/.pub-cache/
Dot-Slash-Hackathon/.pub/
Dot-Slash-Hackathon/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
